@import '../../index.sass'

.btn
    border: none
    margin-right: 15px
    height: 40px
    padding: 5px
    background: transparent
    transition: .3s
    border-bottom: 1px solid transparent
    &:hover
        border-bottom: 1px solid white

.header
    padding-left: 30px
    border-bottom: 1px solid $gray-line
    padding-bottom: 5px

.image
    width: 15px
